!!! 5
html
	head
		script(type='text/javascript', src='/javascripts/formexp.js')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/funciones.js')
		link(rel='stylesheet', type='text/css', href='/stylesheets/estilo.css', media='screen')
		title Prueba 1
	body
		block a
		table(width='100%', bordercolor='purple', align='center', border='10', cellspacing='10', cellpadding='10')
			tr
				td(colspan='7', align='left')
					table(width='100%')
						tr
							td(colspan='4', align='left')
								label(for='hash')
								b.titulos Variables:
							td(width='20%', align='center')
								label(for='No de pagos')
								b.titulos No de pagos:
							td(width='20%', align='center')
								label(for='avg')
								b.titulos Promedio:
							td(width='20%', align='center')
								label(for='numCards')
								b.titulos No de Tarjetas:
						block content
						tr
							td(colspan='7', align='left')
								#1aFila
									table(width='100%')
										block content1
										tr
											td(colspan='7',align='left')
												#2aFila
													table(width='100%')
														block content2
														tr
															td(colspan='7',align='left')
																#3aFila
																	table(width='100%')
																		block content3
