.titulos { color: #08088A; font-size:17px; font-family:"Trebuchet MS", sans-serif;  font-weight: bold }
.datos { color: black; font-size:15px; font-family:"Trebuchet MS", sans-serif;}
.header { color: purple; font-size:20px; font-family:"Trebuchet MS", sans-serif;  font-weight: bold }
.buscar_superior{ color: purple; font-size:25px; font-family:"Trebuchet MS", sans-serif; }

.titulos_0 { color: #0B0B61; font-size:17px; font-family:"Trebuchet MS", sans-serif;  font-weight: bold }
.titulos_1 { color: #08088A; font-size:17px; font-family:"Trebuchet MS", sans-serif;  font-weight: bold }
.titulos_2 { color: #0404B4; font-size:17px; font-family:"Trebuchet MS", sans-serif;  font-weight: bold }
.titulos_3 { color: blue; font-size:17px; font-family:"Trebuchet MS", sans-serif;  font-weight: bold }
