extends layout.jade

block content
	#0Fila
		tr
			td(width='5%', align='right')
				#mas_1aFila
					img.datos(onclick='display1aFila()', alt='mores', src='/images/plus1.png')
				#min_1aFila
					img.datos(onclick='undisplay1aFila()', alt='mores', src='/images/mins1.png')
			td(colspan='3', align='left')
				label(for='hash')
				b.titulos Mujeres
			td(width='20%', align='center')
				label(for='noPayments')
				b.datos 12123
			td(width='20%', align='center')
				label(for='avg')
				b.datos 12123
			td(width='20%', align='center')
				label(for='numCards')
				b.datos 12123
			
block content1
	#1aFila
		table(width='100%')
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='right')
					#mas_2aFila
						img.datos(onclick='display2aFila()', alt='mores', src='/images/plus1.png')
					#min_2aFila
						img.datos(onclick='undisplay2aFila()', alt='mores', src='/images/mins1.png')
				td(colspan='2', align='left')
					label(for='hash')
					b.titulos Enero
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123

block content2
	#2aFila
		table(width='100%')
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='right')
					#mas_3aFila
						img.datos(onclick='display3aFila()', alt='mores', src='/images/plus1.png')
					#min_3aFila
						img.datos(onclick='undisplay3aFila()', alt='mores', src='/images/mins1.png')
				td(align='left')
					label(for='hash')
					b.titulos <= 18 a&ntilde;os
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
				
block content3
	#3aFila
		table(width='100%')
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(align='left')
					label(for='hash')
					b.titulos Ropa
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(align='left')
					label(for='hash')
					b.titulos Viajes
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(align='left')
					label(for='hash')
					b.titulos Hoteles
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(align='left')
					label(for='hash')
					b.titulos Bares y Restaurantes
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(align='left')
					label(for='hash')
					b.titulos Moda
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
			tr
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(width='5%', align='left')
					label(for='hash')
					b.titulos  
				td(align='left')
					label(for='hash')
					b.titulos Salud
				td(width='20%', align='center')
					label(for='noPayments')
					b.datos 12123
				td(width='20%', align='center')
					label(for='avg')
					b.datos 12123
				td(width='20%', align='center')
					label(for='numCards')
					b.datos 12123
			
